#include "winver.h"
#include "kclientversion.h"

IDI_ICON1 ICON DISCARDABLE "..\lib\data\icons\exeicons\kclient.ico"
IDI_ICON2 ICON DISCARDABLE "..\lib\data\icons\exeicons\page.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KCLIENT_VERSION_MAJOR,KCLIENT_VERSION_MINOR,KCLIENT_VERSION_PATCH,0
 PRODUCTVERSION KCLIENT_VERSION_MAJOR,KCLIENT_VERSION_MINOR,KCLIENT_VERSION_PATCH,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "KORNET LLC"
            VALUE "FileDescription", "KClient"
            VALUE "FileVersion", KCLIENT_VERSION_STRING
            VALUE "LegalCopyright", "Copyright (C) 2019 KORNET LLC"
            VALUE "InternalName", "kclient"
            VALUE "OriginalFilename", "kclient.exe"
            VALUE "ProductName", "KClient"
            VALUE "ProductVersion", KCLIENT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
