[Desktop Entry]
Name=PIM
Name[ca]=PIM
Name[ca@valencia]=PIM
Name[cs]=PIM
Name[da]=PIM
Name[de]=PIM
Name[en_GB]=PIM
Name[es]=PIM
Name[fi]=Henkilökohtainen ajanhallinta
Name[fr]=PIM
Name[gl]=PIM
Name[id]=PIM
Name[it]=PIM
Name[nl]=PIM
Name[nn]=PIM
Name[pl]=ZIO
Name[pt]=PIM
Name[pt_BR]=PIM
Name[sk]=PIM
Name[sv]=Personlig information
Name[uk]=Керування інформацією
Name[x-test]=xxPIMxx
Name[zh_CN]=个人信息管理
Name[zh_TW]=PIM
Comment=Adds ability for KClient to store some personal data
Comment[ca]=Afegeix la possibilitat que el KClient emmagatzemi diverses dades personals
Comment[ca@valencia]=Afig la possibilitat que el KClient emmagatzeme diverses dades personals
Comment[cs]=Přidává KClientu schopnost ukládat nějaká osobní data
Comment[da]=Tilføjer mulighed for at KClient kan lagre nogle personlige data
Comment[de]=KClient kann einige persönliche Daten speichern
Comment[en_GB]=Adds ability for KClient to store some personal data
Comment[es]=Añade a KClient la facultad de guardar datos personales
Comment[fi]=Lisää KClientiin kyvyn tallentaa henkilökohtaista tietoa
Comment[fr]=Ajout d'une capacité de stockage de certaines données personnelles par KClient
Comment[gl]=Engade a posibilidade de que KClient almacene algúns datos persoais
Comment[id]=Menambah kemampuan terhadap KClient untuk menyimpan beberapa data pribadi
Comment[it]=Aggiunge a KClient la capacità di immagazzinare alcuni dati personali
Comment[nl]=Biedt mogelijkheid voor KClient om enige persoonlijke gegevens op te slaan
Comment[nn]=Gjer det mogleg for KClient å lagra nokre persondata
Comment[pl]=Dodaje możliwość przechowywania pewnych danych osobistych
Comment[pt]=Adiciona ao KClient a capacidade de guardar alguns dados pessoais
Comment[pt_BR]=Adiciona a habilidade ao KClient para armazenar alguns dados pessoais
Comment[sk]=Pridáva do KClientu podporu na ukladanie niektorých osobných údajov
Comment[sv]=Lägger till möjlighet för KClient att lagra viss personlig information
Comment[uk]=Додає у KClient можливість зберігати особисті дані
Comment[x-test]=xxAdds ability for KClient to store some personal dataxx
Comment[zh_CN]=增加 KClient 存储某些个人数据的能力

Icon=:PIM/data/PIM.png
Type=Service

X-KClient-Author=Mladen Pejaković
X-KClient-Email=pejakm@autistici.org
X-KClient-Version=0.2.0
X-KClient-Settings=true
